
#icon-grid a:hover {
	transform: scale(1.1);
	transition: all linear 50ms;
}


#laptop-outer {
	position: relative;
	background: black;
	width: 341px;
	height: 192px;
	border-radius: 2px;
	box-shadow: 0 0 0 15px black,
				0 0 0 17px white;
}

video {
	height: 192px;
}

#laptop-bottom {
	position: absolute;
	bottom: -21px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 430px;
	height: 5px;
	background: white;
	border-radius: 1px 1px 0 0;
	border-bottom-left-radius: 15px
	border-bottom-right-radius: 15px
}

#laptop-bottom::after {
	content: " ";
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: -7px;
	width: 430px;
	height: 8px;
	background: white;
	border-bottom-left-radius: 900px 100px;
	border-bottom-right-radius: 900px 100px;
}

#laptop-shadow {
	position: absolute;
	opacity: 0.5;
	bottom: -37px;
	left: 50%;
	transform: translate(-50%, 0);
	background:  radial-gradient(ellipse closest-side,#000,transparent);
	width: 430px;
	height: 10px;
}

@media screen and (max-width: 639px){
	
	#laptop-outer {
		width: 191px;
		height: 108px;
		border-radius: 1px;
		box-shadow: 0 0 0 10px black,
					0 0 0 12px white;
		}
		
	video {
		width:191px;
		height: 108px;
	}
	
	#laptop-bottom {
		bottom: -15px;
		width: 260px;
		height: 5px;
	}
	
	#laptop-bottom::after {
		bottom: -5px;
		width: 260px;
		height: 6px;
	}
	
	#laptop-shadow {
		bottom: -28px;
		width: 260px;
	}
	
	
}
